.sidebar{
    width: 41px;
    height: 1024px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

}
.image{
  width: 30px;
  border-radius: 50%;
}
.icon{
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}